<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <fieldset class="form-group">
      <%= f.label :email, :class => 'form-control-label' %>
      <%= f.email_field :email, :class => 'form-control', :readonly => true %>
    </fieldset>
    <fieldset class="form-group">
      <div class="checkbox">
        <label>
          <%= f.check_box :active %> <%= t 'helpers.label.user.active' %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :approved %> <%= t 'helpers.label.user.approved' %>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :confirmed %> <%= t 'helpers.label.user.confirmed' %>
        </label>
      </div>
    </fieldset>
    <fieldset class="form-group pull-right">
      <%= link_to user_path(@user), :class => 'btn btn-danger' do %>
          <%= fa_icon 'undo' %>&nbsp;<%= t 'actions.cancel' %>
      <% end %>
      <%= button_tag(:class => 'btn btn-success') do %>
          <%= fa_icon 'save' %>&nbsp;<%= t 'actions.save' %>
      <% end %>
    </fieldset>
<% end %>
