<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <fieldset class="form-group">
      <%= f.label :email, :class => 'form-control-label' %>
      <%= f.email_field :email, :class => 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password, :class => 'form-control-label' %>
      <%= f.password_field :password, :class => 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password_confirmation, :class => 'form-control-label' %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </fieldset>
    <fieldset class="form-group pull-right">
      <%= link_to users_path, :class => 'btn btn-danger' do %>
          <%= fa_icon 'undo' %>&nbsp;<%= t 'actions.cancel' %>
      <% end %>
      <%= button_tag(:class => 'btn btn-success') do %>
          <%= fa_icon 'save' %>&nbsp;<%= t 'actions.save' %>
      <% end %>
    </fieldset>
<% end %>
