<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title"><%= t 'actions.user.chane_statuses' %></h4>
</div>
<div class="modal-body">
  <%= toggle_user_status(@user, 'active') %>
  <br>
  <%= toggle_user_status(@user, 'approved') %>
  <br>
  <%= toggle_user_status(@user, 'confirmed') %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t 'actions.done' %></button>
</div>
