<% provide(:title, (t 'users.title.index')) %>

<h1>
  <%= t 'users.title.index' %>
  <%= link_to new_user_path, :class => 'btn btn-warning pull-right' do %>
      <%= fa_icon 'plus' %>&nbsp;<%= t 'users.title.new' %>
  <% end %>
</h1>
<% if @users.blank? %>
    <%= render 'shared/no_results' %>
<% else %>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th><%= t 'helpers.label.user.email' %></th>
      <th class="text-xs-center"><%= t 'helpers.label.user.active' %></th>
      <th class="text-xs-center"><%= t 'helpers.label.user.approved' %></th>
      <th class="text-xs-center"><%= t 'helpers.label.user.confirmed' %></th>
      <th class="text-xs-center"><%= fa_icon 'cogs' %></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| %>
        <tr class="row-linkable" data-url="<%= users_path(user) %>">
          <th scope="row"><%= index + 1 %></th>
          <td><%= user.email %></td>
          <td class="text-xs-center"><%= bool_icon(user.active) %></td>
          <td class="text-xs-center"><%= bool_icon(user.approved) %></td>
          <td class="text-xs-center"><%= bool_icon(user.confirmed) %></td>
          <td class="text-xs-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <%= action_update_user_status user_get_user_status_path(user) %>
              </li>
              <li class="list-inline-item">
                <%= action_show user_path(user) %>
              </li>
              <li class="list-inline-item">
                <%= action_edit edit_user_path(user) %>
              </li>
              <li class="list-inline-item">
                <%= action_delete user_path(user) %>
              </li>
            </ul>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div id="user-status-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div id="user-status-actions" class="modal-content">
      </div>
    </div>
  </div>
<% end %>
