<% provide(:title, (t 'users.title.show')) %>

<h1><%= t 'users.title.show' %></h1>

<div class="col-md-6 col-sm-12">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.email' %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.created_at' %></th>
        <td><%= @user.created_at.strftime('%F %T') %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.active' %></th>
        <td><%= bool_icon(@user.active) %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.approved' %></th>
        <td><%= bool_icon(@user.approved) %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.confirmed' %></th>
        <td><%= bool_icon(@user.confirmed) %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.login_count' %></th>
        <td><%= @user.login_count %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.last_login_at' %></th>
        <td><%= @user.last_login_at && @user.last_login_at.strftime('%F %T') %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.role' %></th>
        <td><%= @user.role_name %></td>
      </tr>
      <tr>
        <th class="th-inverse"><%= t 'helpers.label.user.permissions' %></th>
        <td>
          <% @user.role.permissions.each do |permission| %>
              <%= permission.code %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to users_path, :class => 'btn btn-secondary' do %>
      <%= fa_icon 'list' %>&nbsp;<%= t 'actions.list' %>
  <% end %>
  <%= link_to edit_user_path(@user), :class => 'btn btn-primary pull-right' do %>
      <%= fa_icon 'wrench' %>&nbsp;<%= t 'actions.edit' %>
  <% end %>
</div>
