<% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= t 'misc.form_error' %> <%= t('misc.errors', :count => object.errors.count) %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
