<ul class="nav navbar-nav">
  <%= link_to root_path, :class => 'navbar-brand' do %>
    <%= fa_icon 'home' %>&nbsp;<%= t 'home.title.index' %>
  <% end %>
  <li class="nav-item">
    <%= locale_switcher %>
  </li>
  <% navigation_data.each do |name, path| %>
    <%= content_tag :li, (link_to (t name), path, :class => 'nav-link'), :class => (current_controller?(path) ? 'nav-item active' : 'nav-item') %>
  <% end %>
</ul>

<ul class="nav navbar-nav pull-right">
  <% if current_user %>
    <li class="nav-item"><%= link_to [(t 'actions.logout'), current_user.email].join(' '), sign_out_path, method: :delete, class: 'nav-link' %></li>
  <% else %>
    <li class="nav-item"><%= link_to (t 'actions.login'), sign_in_path, class: 'nav-link' %></li>
  <% end %>
</ul>
