<%= form_for(@item_location, :url => item_item_locations_path, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :item_id %>
  <fieldset class="form-group">
    <%= f.label :quantity, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= f.number_field :quantity, :class => 'form-control' %>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :warehouse, :class => 'form-control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.collection_select(:warehouse_id, Warehouse.all, :id, :name, {}, {:class => 'form-control c-select'}) %>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="col-sm-2">
      <p><%= t 'helpers.label.item_locations.state' %></p>
    </div>
    <div class="col-sm-2">
      <% ItemLocation.available_states.each do |state| %>
          <div class="radio">
            <label>
              <%= f.radio_button :state, state %> <%= t "helpers.label.item_locations.#{state}" %>
            </label>
          </div>
      <% end %>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= link_to item_path(@item), :class => 'btn btn-danger' do %>
          <%= fa_icon 'undo' %>&nbsp;<%= t 'actions.cancel' %>
      <% end %>
      <%= button_tag(:class => 'btn btn-success') do %>
          <%= fa_icon 'save' %>&nbsp;<%= t 'actions.save' %>
      <% end %>
    </div>
  </fieldset>
<% end %>
