<% provide(:title, (t 'item_locations.title.show')) %>

<h1>
  <%= t 'item_locations.title.show' %>
</h1>

<div class="col-md-6 col-sm-12">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.item_location.item' %></th>
      <td><%= @item_location.item_name %></td>
    </tr>
    <tr>
      <th class="th-inverse"><%= t 'warehouses.title.singular' %></th>
      <td><%= @item_location.warehouse.presentation %></td>
    </tr>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.item_locations.quantity' %></th>
      <td><%= @item_location.quantity %></td>
    </tr>
    <tr>
      <th class="th-inverse"><%= t 'item_locations.type.label' %></th>
      <td><%= t "helpers.label.item_locations.#{@item_location.state}" %></td>
    </tr>
    </tbody>
  </table>
  <%= link_to item_path(@item_location.item), :class => 'btn btn-secondary' do %>
    <%= fa_icon 'undo' %>&nbsp;<%= t 'actions.back' %>
  <% end %>
</div>
