<%= form_for @item, :html => {:class => 'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset class="form-group">
    <%= f.label :name, class: 'form-control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :description, :class => 'form-control-label' %>
    <%= f.text_area :description, :class => 'form-control' %>
  </fieldset>
  <fieldset class="form-group pull-right">
    <%= link_to items_path, :class => 'btn btn-danger' do %>
      <%= fa_icon 'undo' %>&nbsp;<%= t 'actions.cancel' %>
    <% end %>
    <%= button_tag(:class => 'btn btn-success') do %>
      <%= fa_icon 'save' %>&nbsp;<%= t 'actions.save' %>
    <% end %>
  </fieldset>
<% end %>
