<% provide(:title, (t 'items.title.index')) %>

<h1>
  <%= t 'items.title.index' %>
  <%= link_to new_item_path, :class => 'btn btn-warning pull-right' do %>
    <%= fa_icon 'plus' %>&nbsp;<%= t 'items.title.new' %>
  <% end %>
</h1>
<% if @items.blank? %>
  <%= render 'shared/no_results' %>
<% else %>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th><%= t 'helpers.label.item.name' %></th>
        <th><%= t 'helpers.label.item.description' %></th>
        <th class="text-xs-center"><%= fa_icon 'cogs' %></th>
      </tr>
    </thead>
    <tbody>
    <% @items.each_with_index do |item, index| %>
      <tr class="row-linkable" data-url="<%= item_path(item) %>">
        <th scope="row"><%= index + 1 %></th>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td class="text-xs-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <%= action_show item_path(item) %>
            </li>
            <li class="list-inline-item">
              <%= action_edit edit_item_path(item) %>
            </li>
            <li class="list-inline-item">
              <%= action_delete item_path(item) %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
