<% provide(:title, (t 'items.title.show')) %>

<h1>
  <%= t 'items.title.show' %>
</h1>

<div class="col-md-6 col-sm-12">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.item.name' %></th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.item.description' %></th>
      <td><%= @item.description %></td>
    </tr>
    <tr>
      <th class="th-inverse">
        <%= t 'helpers.label.item.item_locations' %>
        <%= link_to new_item_item_location_path(@item), :class => 'btn btn-warning pull-right' do %>
            <%= fa_icon 'plus' %>&nbsp;<%= t 'item_locations.actions.add' %>
        <% end %>
      </th>
      <td>
        <% @item.quantities.each do |warehouse, values| %>
          <h6><%= warehouse %></h6>
          <dl class="dl-horizontal">
            <% ItemLocation.available_states.each do |state| %>
                <dt class="col-sm-6"><%= t "helpers.label.item_locations.#{state}" %>:</dt>
                <dd class="col-sm-6"><%= values[state] %></dd>
            <% end %>
          </dl>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
  <%= link_to items_path, :class => 'btn btn-secondary' do %>
    <%= fa_icon 'list' %>&nbsp;<%= t 'actions.list' %>
  <% end %>
  <%= link_to edit_item_path(@item), :class => 'btn btn-primary pull-right' do %>
    <%= fa_icon 'wrench' %>&nbsp;<%= t 'actions.edit' %>
  <% end %>
</div>
