*
  margin: 0

html
  position: relative
  min-height: 100%
  margin: 0
  padding: 0

body
  margin-bottom: 7rem

a:hover
  text-decoration: none

ol, ul
  margin-bottom: 0

input[type=number]
  -moz-appearance: textfield
  -webkit-appearance: textfield

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

body > .container
  padding: 6rem 1rem 0

#top
  position: absolute
  top: 0
  height: 0

.footer
  position: absolute
  bottom: 0
  text-align: center
  background-color: #f5f5f5
  padding: 1%
  width: 100%
  height: 6rem
  line-height: 6rem

.th-inverse
  background-color: #373a3c
  color: #fff

.dl-horizontal
  margin-left: 0
  margin-right: 0

.row-linkable:hover
  cursor: pointer

img.inactive
  opacity: 0.4
  filter: alpha(opacity=40)
