<%= form_for @user_session, :url => sign_in_url, :html => {:class => 'form-horizontal'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <fieldset class="form-group">
      <%= f.label :email, :class => 'form-control-label' %>
      <%= f.email_field :email, :class => 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :password, :class => 'form-control-label' %>
      <%= f.password_field :password, :class => 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <div class="checkbox pull-right">
        <label>
          <%= f.check_box :remember_me %> <%= t 'helpers.label.user.remember_me' %>
        </label>
      </div>
    </fieldset>
    <fieldset class="form-group pull-right">
      <%= button_tag(:class => 'btn btn-primary') do %>
        <%= fa_icon 'user' %>&nbsp;<%= t 'actions.login' %>
      <% end %>
    </fieldset>
<% end %>
