<% provide(:title, (t 'warehouses.title.index')) %>

<h1>
  <%= t 'warehouses.title.index' %>
  <%= link_to new_warehouse_path, :class => 'btn btn-warning pull-right' do %>
    <%= fa_icon 'plus' %>&nbsp;<%= t 'warehouses.title.new' %>
  <% end %>
</h1>
<% if @warehouses.blank? %>
    <%= render 'shared/no_results' %>
<% else %>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th><%= t 'helpers.label.warehouse.name' %></th>
        <th><%= t 'helpers.label.warehouse.code' %></th>
        <th class="text-xs-center"><%= t 'helpers.label.warehouse.main' %></th>
        <th class="text-xs-center"><%= fa_icon 'cogs' %></th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each_with_index do |warehouse, index| %>
        <tr class="row-linkable" data-url="<%= warehouse_path(warehouse) %>">
          <th scope="row"><%= index + 1 %></th>
          <td><%= warehouse.name %></td>
          <td><%= warehouse.code %></td>
          <td class="text-xs-center"><%= bool_icon(warehouse.main) %></td>
          <td class="text-xs-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <%= action_show warehouse_path(warehouse) %>
              </li>
              <li class="list-inline-item">
                <%= action_edit edit_warehouse_path(warehouse) %>
              </li>
              <li class="list-inline-item">
                <%= action_delete warehouse_path(warehouse) %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
