<% provide(:title, (t 'warehouses.title.show')) %>

<h1><%= t 'warehouses.title.show' %></h1>

<div class="col-md-6 col-sm-12">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.warehouse.name' %></th>
      <td><%= @warehouse.name %></td>
    </tr>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.warehouse.code' %></th>
      <td><%= @warehouse.code %></td>
    </tr>
    <tr>
      <th class="th-inverse"><%= t 'helpers.label.warehouse.main' %></th>
      <td>
        <%= bool_icon(@warehouse.main) %>
      </td>
    </tr>
    </tbody>
  </table>
  <%= link_to warehouses_path, :class => 'btn btn-secondary' do %>
      <%= fa_icon 'list' %>&nbsp;<%= t 'actions.list' %>
  <% end %>
  <%= link_to edit_warehouse_path(@warehouse), :class => 'btn btn-primary pull-right' do %>
      <%= fa_icon 'wrench' %>&nbsp;<%= t 'actions.edit' %>
  <% end %>
</div>
