<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="<%= meta_author %>">
  <meta name="description" content="<%= meta_description %>">
  <meta name="keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top"></div>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <%= render 'shared/navigation' %>
  </nav>

  <main class="container">
    <%= render 'shared/flash_messages', flash: flash %>
    <%= yield %>
  </main>

  <footer class="footer">
    <h6 class="text-muted">&copy;&nbsp;<%= meta_author %>&nbsp;<%= Time.zone.now.year %></h6>
    <a href="#top" class="pull-right btn btn-secondary" data-no-turbolinks><strong><%= fa_icon 'angle-double-up' %></strong></a>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
